@using DesignPattern.Mediator.MediatorPattern.Results
@model List<GetAllProductQueryResult>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Stock Type</th>
            <th>Delete</th>
            <th>Update</th>
            <th>Get</th>
        </tr>         
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductName</td>
                <td>@item.ProductPrice</td>
                <td>@item.ProductStock</td>
                <td>@item.ProductStockType</td>
                <td>
                    <a href="/Product/Delete/@item.ProductID" type="button" class="btn btn-danger btn-sm">Delete</a>
                </td>
                <td>
                    <a href="/Product/Update/@item.ProductID" type="button" class="btn btn-warning btn-sm">Update</a>
                </td>
                <td>
                    <a href="/Product/GetProduct/@item.ProductID" type="button" class="btn btn-dark btn-sm">Get</a>
                </td>
            </tr>
        }
    </tbody>
</table>


